<sprucejs>

	<!--<externals>
		<add path="/libs/jquery.js" />
		<add path="/libs/backbone.js" />
	</externals>-->

	<modules>
		<!--<add path="/shared/models/*.js" />-->
		<!--<add path="/shared/models/mine.js" />-->
		<add path="/shared/models/" />
		<add path="views/" />
	</modules>

</sprucejs>
